{{ form_start(form,{attr: {class: 'filter'}}) }}
{{ form_row(form.q) }}
<h4>Specialité</h4>
{{ form_row(form.Specialite) }}

<button type="submit" class="btn btn-primary w-100">
    filtrer
</button>
{{ form_end(form) }}