<h1>confirmation de la reservation </h1>
<p>bonjour mr/mme  {{ contact.nom }}</p>
<p>nous venons de confirmer votre reservation  </p>
<p>plus de details :  </p>
<p>{{ contact.message|raw }}</p>
<p>De la part du docteur  {{ contact.email }}</p>